
main {
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-height: 594px;
    height: 100%;
    display: flex;
}

.container_outer {
    max-width: 954px;
    width: 100%;
}
.container_red {
    background-color: #BE0909;
    width: 64%;
    border-radius: 5px 0px 0px 5px;
    justify-content: center;
}
.container_yellow {
    background-color: #FFB039 ;
    width: 36%;
    border-radius: 0px 5px 5px 0px;
    justify-content: flex-end;
}
.rubberduck {
    position:fixed;
    transform: translate(200px, 60px);
    z-index: 1;
}

.entry-form {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    width: 100%;
    height: 80%;
    transform: translateX(-30px);
    font-size: 18px;
    color: #FFF;
}

.entry-field {
    display: flex;
    flex-direction: column;
}

.entry-field__regarding .input-field, .entry-field__email .input-field{
    width: 40%;
}

.input-field {
    background:none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #9DBEBB;
    height: 49px;
    color: #FFF;
    letter-spacing: .3rem;
    border-radius: 5px 5px 0px 0px;
}

.input-field:hover {
    background-color: #cf3737;
}

.input-field:focus {
    letter-spacing: 0;
}

.entry-field__email .input-field:focus {
    width:auto;
}

.button {
    max-width: 200px;
    width: 100%;
    height: 48px;
    align-self: center;
    background-color: #468189;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    color: #FFF;
}

.button:hover {
    background-color: #31646b;
    cursor: pointer;
}